db.{{ DOMAIN_NAME }} OK
ip-10-242-207-118.ec2.internal OK
mail.{{ DOMAIN_NAME }} OK
sso.{{ DOMAIN_NAME }} OK
mna.{{ DOMAIN_NAME }} OK
web.{{ DOMAIN_NAME }} OK
portal.{{ DOMAIN_NAME }} OK
build.{{ DOMAIN_NAME }} OK
forum.{{ DOMAIN_NAME }} OK
